h2{
  font-size:30px;
  font-weight: bold;
  text-transform : capitalize;
  color:pink;
  background-color:grey;



  /*capitalizes all first letters*/
}
h3 {

  background-color: lightblue;
  font-size:60px;
  color:blue;
}
h4 {
  font-size:60px;
  column-fill: balance;

}
{
#fruit {

}
#google{
  font-size: 25px;
}

}
